/* Background colours */
.Main{
    width: 99%;
    height: 100vh;
    background-image: linear-gradient(white, rgb(93, 99, 119));
}
.playlist{
    width: 99%;
    height: 100vh;
    background-image: linear-gradient(white, rgb(93, 99, 119));
}

.login2{
    width: 99%;
    height: 100vh;
    background-image: linear-gradient(white, rgb(93, 99, 119));
}

.signup{
    width: 99%;
    height: 100vh;
    background-image: linear-gradient(white, rgb(93, 99, 119));
}



/* Buttons settings*/
button{
    background-color: rgb(93, 99, 119);
    color:rgb(255, 212, 96);
    width: 175px;
    height: 35px;
    position: absolute;
    border-radius: 10px;

}

.submit{
    background-color: white;
    color: black;
    width: 100px;
    height: 20px;
    position: absolute;
}

.submit:hover{
    background-color: white;
}

button:hover{
    background-color: rgb(38, 41, 4);
    text-shadow: 0px 0px 0px white;
    opacity: 0.75;
}

button:active{
    background-color: rgb(27, 76, 116);
    opacity: 0.5;
}


/* Button Position */
.playlistbtn{
    top: 5%;
    left: 16%;
}

.login1{
    top: 5%;
    left: 64%;
}

.emailbtn{
    top: 5%;
    left: 80%;
}


/* Text */

.title{
    text-align: center;
}

