
/* Background colours */
.Main{
    background-color: rgb(255, 212, 96);
}

.playlist{
    background-color: rgb(255, 212, 96);
}

.login2{
    background-color: rgb(255, 212, 96);
}

.signup{
    background-color: rgb(255, 212, 96);
}




/* Buttons */
button{
    background-color: rgb(93, 99, 119);
    color:rgb(255, 212, 96);
    width: 175px;
    height: 35px;
    position: absolute;
    border-radius: 10px;

}

button:hover{
    background-color: rgb(38, 41, 4);
}

.playlistbtn{
    top: 5%;
    left: 17%;
}

.emailbtn{
    top: 5%;
    left: 35%;
}

.login1{
    top: 5%;
    left: 53%;
}


/* Text */

.title{
    text-align: center;
}